@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.verticalText {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

section {
  @apply my-6 md:mt-8 md:mb-16;
}
